html, body, #react-root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #74A5D0;
}

.puzzle-container {
    position: relative;
    height: 95%;
    width: 95%;
    margin: 0 auto;
    user-select: none;
}

@media (min-width:1000px) {
    .puzzle-container {
        width: 80%;
    }
}

.puzzle-background {
    background: #def0e6;
    width: 100%;
    height: 100%;
}

.puzzle-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0 0;
}

.puzzle-complete {
    background-position: center;
}

.puzzle-piece, .puzzle-complete {
    background-color: transparent;
    background-image: url('lunar_festival.png');
    background-repeat: no-repeat;
}

.puzzle-piece {
    position: absolute;
}

.puzzle-piece.block-pointer-events {
    pointer-events: none;
}