a.unstyled, a.unstyled:hover {
    color: inherit;
}

.icon-lg {
    font-size: 1.25em;
}

.input-group-prepend div.btn,
.input-group-append div.btn {
    /* Prevents tooltip from hiding behind controls while fading in/out */
    z-index: auto;
}

@media (max-width: 991.98px) {
    .input-group > .input-group-prepend > .btn.br-when-stacked,
    .input-group > .input-group-append > .btn.br-when-stacked {
        border-radius: .25rem;
    }
}

.btn-dark .custom-select:focus,
.btn-dark .custom-file-input:focus ~ .custom-file-label,
.btn-dark .btn-link:focus {
    box-shadow: 0 0 0 .2rem rgba(160, 206, 255, 0.9);
}